<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{.Title}}</title>
      <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

      <!-- Specter CSS -->
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
      <link rel="stylesheet" href="/static/css/styles.css">

      <!-- Pixi JS -->
      <script src="https://pixijs.download/release/pixi.js"></script>
      <!-- isMobileJS -->
      <script src="https://cdn.jsdelivr.net/npm/ismobilejs@1/dist/isMobile.min.js"></script>

  </head>
  <body id="main-content">
    <header class="navbar">
      <section class="navbar-section">
        <a
          hx-get="/"
          hx-target="#main-content"
          hx-swap="outerHTML"
          hx-push-url="/"
          class="btn btn-link"
        >Home</a>

        <!-- <a
          hx-get="/station"
          hx-target="#main-content"
          hx-swap="outerHTML"
          hx-push-url="/station"
          class="btn btn-link"
        >Station</a> -->
      </section>
      <section class="navbar-center">
        <!-- centered logo or brand -->
      </section>

      <section class="navbar-section p-2">
        <button class="btn btn-primary" id="open-connect-dialog">Connect</button>
      </section>
    </header>
    <main>
      <div class="container">
        <div class="modal modal-sm" id="connect-dialog">
          <a href="#close" class="modal-overlay" aria-label="Close"></a>
          <div class="modal-container">
            <div class="modal-header">
              <a href="#close" class="btn btn-clear float-right" aria-label="Close"
              id="connect-dialog-close"></a>
              <div class="modal-title h5">Choose a network to connect</div>
            </div>
            <div class="modal-body">
              <div class="content">
                <div class="d-inline-flex f-d-col">
                  <button class="btn no-border network-button">
                    <img src="/static/img/aergoround.png" alt="aergo logo" class="icon "> Connect to aergo mainnet
                  </button>

                  <button class="btn no-border network-button">
                    <img src="/static/img/aergoround.png" alt="aergo logo" class="icon "> Connect to aergo testnet
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
              ...
            </div> -->
          </div>
        </div>

        <script>
          const dialog = document.getElementById("connect-dialog")
          const showButton = document.getElementById("open-connect-dialog");
          const closeButton = document.getElementById("connect-dialog-close");

          showButton.addEventListener("click", () => {
            dialog.classList.add("active");
          });

          closeButton.addEventListener("click", () => {
            dialog.classList.remove("active");
          });
        </script>

        {{block "content" .}} {{end}}
      </div>
    </main>
  </body>
</html>